* {
  margin: 0;
  padding: 0;
  font-size: large;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counter {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

button {
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  background-color:black;
  color:white;
  margin: 0.5rem;
}

.counter > span {
  font-size: xx-large;
}